p {
  opacity: 0;
  position: relative;
  bottom: -40px;
  transition: all 0.5s ease-out;
}

.show {
  opacity: 1;
  bottom: 0;
}

.hide-right {
  position: relative;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.8s ease-out;
}

.show-right {
  opacity: 1;
  transform: translateX(0);
}

@media (min-width: 780px) {
  .hide-left {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s ease-out;
  }
  .show-left {
    opacity: 1;
    transform: translateX(0);
  }
}
