body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Work Sans', sans-serif; */
  background-color: #f8f8f8;
}

.bg {
  background-color: rgba(0, 0, 0, 0.13);
}

/* HELPER CLASSES */
.hide {
  display: none;
}
.show {
  display: block;
}

.inter {
  font-family: "Inter", sans-serif;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* HELPER CLASSES END */

/* NAVBAR */
nav {
  background-color: white;
}
.nav__container {
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_btns {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: 500;
}
.nav__links button {
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  height: 40px;
  color: var(--clr-white);
  border: none;
  max-width: 200px;
  min-width: 120px;
}
/* NAVBAR END */

@media (max-width: 780px) {
  .nav__links {
    position: fixed;
    background: white;
    z-index: 9;
    inset: 0 0 0 30%;
    padding-top: 6rem;
    align-items: flex-start;
    padding-left: 1.5rem;
    flex-direction: column;
    transform: translateX(100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
    transition: all 250ms ease-in-out;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .nav__links {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
  .nav__links buttton {
    width: calc(100% - 1.5rem);
  }
  .show-nav {
    transform: translateX(0);
  }
  .nav_btns {
    display: flex;
    position: fixed;
    right: 3%;
    z-index: 900;
  }
  .nav_btns img {
    height: 34px;
    cursor: pointer;
  }
}
/* MEDIA QUERIES FOR NAVBAR ENDING */

/* merchandise categories section starts */
.categories__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.category-header {
  color: rgba(0, 0, 0, 0.87);
  /* font-family: Inter, var(--default-font-family); */
  font-size: 1.3rem;
  font-weight: 600;
}

.categories__container div {
  /* background-color: green; */
  padding-inline: 1rem;
  padding-block: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__container div p {
  color: #444746;
  font-family: "Work Sans", sans-serif;
}
/* COLOURS */
.light-blue {
  background-color: #d3e3fd;
}
.light-grey {
  background-color: #e3e3e3;
}
.sky-blue {
  background-color: #c2e7ff;
}
.light-green {
  background-color: #c4eed0;
}
.light-purple {
  background-color: #d5d1ff;
}
.light-pink {
  background-color: #fde3ff;
}
.light-yellow {
  background-color: #eeffbe;
}
.pink {
  background-color: #ffe1e1;
}
/* COLOURS */

/* Section 12 styling starts here */
.services__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15.875rem, 1fr));
}
.services__container > div {
  border-radius: 1rem;
  /* max-width: 590px; */
  overflow: hidden;
}

.services__container > div:nth-child(1) {
  background-color: #1e1e1e;
}
.detail {
  padding-left: 1.5rem;
  padding-block: 1.3rem;
}
.detail h4 {
  font-size: 1rem;
}
.detail p {
  font-family: "Work sans", "sans-serif";
  font-size: 0.8rem;
}
.detail-1 h4 {
  color: #fff;
}
.detail-1 p {
  color: #ffffff;
}

.services__container > div:nth-child(2) {
  background-color: #fff;
}

.detail-2 h4 {
  color: #202124;
}
.detail-2 p {
  color: #5f6368;
}

.services__container .img-container {
  overflow: hidden;
}
.services__container .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
}
.services__container .img-container:hover img {
  transform: scale(1.2);
}

/* Section 12 ends here */

/* Section 13 styling starts here */

.students {
  width: 1240px;
  margin: 90px 0 0 100px;
  padding: 56px 104px 0;
  background-color: #1e1e1e;
  border-radius: 24px;
  color: white;
}

.students h4 {
  font-family: "Inter", "sans serif";
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  letter-spacing: -1.2 px;
  line-height: 68.9px;
}

.text p {
  font-family: "work sans", "sans serif";
  line-height: 22.1px;
  margin: 32px 36px;
}

.text {
  display: flex;
  align-items: center;
  margin: 24px;
}

/* Section 13 styling ends here */

section {
  margin-bottom: 4rem;
}

/* MEDIA QUERIES GENERAL */
@media (min-width: 780px) {
  .services__container {
    /* grid-template-columns: 1fr 1fr; */
    gap: 1.5rem;
  }
  .detail h4 {
    font-size: 1.1rem;
  }
  .detail p {
    font-size: 15px;
    font-weight: 300;
  }
}

@media (min-width: 900px) {
  .services__container {
    /* padding-inline: 19rem; */
  }
  .detail h4 {
    font-size: 1.3rem;
  }
}

@media (min-width: 1020px) {
  .services__container {
    /* padding-inline: 6rem; */
  }
}
