body {
  font-family: "Inter", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #f8f8f8;
  padding-bottom: 18rem;
}

.bg {
  background-color: rgba(0, 0, 0, 0.13);
}

/* HELPER CLASSES */
.hide {
  display: none;
}
.show {
  display: block;
}

.inter {
  font-family: "Inter", sans-serif;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* HELPER CLASSES END */

/* NAVBAR */
nav {
  background-color: white;
}
.nav__container {
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_btns {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: 500;
}
.nav__links button {
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  height: 40px;
  color: var(--clr-white);
  border: none;
  max-width: 200px;
  min-width: 120px;
}
/* NAVBAR END */

/* HERO SECTION BEGINS */
main {
  padding-block: 2rem;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.socials {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: -0.69px;
  left: 0;
  color: #444746;
  font-family: Work Sans, var(--default-font-family);
  font-size: 18.159515380859375px;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 131;
}
.tdesign-arrow-right {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 34.097px;
  left: 232px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 132;
  overflow: hidden;
}
.hero-desc {
  color: #1e1e1e;
}
.hero-btn {
  border-radius: 7.974px;
  height: 40px;
  color: var(--clr-white);
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  border: none;
  max-width: 200px;
  min-width: 170px;
  align-self: center;
}
.class-description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: -0.69px;
  left: 0;
  color: #444746;
  font-family: Work Sans, var(--default-font-family);
  font-size: 18.159515380859375px;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 135;
}
.soft-skills-books {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 34.097px;
  left: 232.448px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 136;
  overflow: hidden;
}
.tdesign-arrow-right-63 {
  position: relative;
  width: 290.552px;
  height: 92.239px;
  cursor: pointer;
  background: #c2e7ff;
  border: none;
  z-index: 137;
  border-radius: 18.448px;
}
.link-64 {
  position: absolute;
  width: 198.313px;
  height: 27.672px;
  top: 50%;
  left: 18.448px;
  transform: translate(0, -50%);
  z-index: 138;
  overflow: hidden;
}
.span-qac-65 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: -0.69px;
  left: 0px;
  color: #444746;
  font-family: Work Sans, var(--default-font-family);
  font-size: 17.87126922607422px;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 139;
}
.coding-contents {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 34.097px;
  left: 231.896px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 140;
  overflow: hidden;
}
.tdesign-arrow-right-66 {
  position: relative;
  width: 290.552px;
  height: 92.239px;
  cursor: pointer;
  background: #c4eed0;
  border: none;
  z-index: 141;
  border-radius: 18.448px;
}
.link-67 {
  position: absolute;
  width: 198.313px;
  height: 27.672px;
  top: 50%;
  left: 18.448px;
  transform: translate(0, -50%);
  z-index: 142;
  overflow: hidden;
}
.span-qac-68 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__container div p {
  color: #444746;
  font-family: "Work Sans", sans-serif;
}
/* COLOURS */
.light-blue {
  background-color: #d3e3fd;
}
.creative-designs {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 34.097px;
  left: 232.343px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 144;
  overflow: hidden;
}
.light-purple {
  background-color: #d5d1ff;
}
.light-pink {
  background-color: #fde3ff;
}
.light-yellow {
  background-color: #eeffbe;
}
.pink {
  background-color: #ffe1e1;
}
/* COLOURS */

/* SECTION 7, 8 & 9 STYLING STARTS HERE */
.section7,
.section8,
.section9 {
  display: flex;
  padding-inline: 0.8rem;
  padding-block: 2.5rem;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: -0.69px;
  left: 0;
  color: #444746;
  font-family: Work Sans, var(--default-font-family);
  font-size: 18.303638458251953px;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 147;
}
.div-tdesign-arrow-right {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 33.858px;
  left: 232px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 148;
  overflow: hidden;
}
.eight-ii img,
.seven-ii img,
.nine-ii img {
  width: 100%;
}
.seven-i,
.eight-ii,
.nine-ii {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.eight-head,
.seven-head,
.nine-head {
  color: #202124;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
  /* margin-bottom: 40px; */
}
.eight-bio,
.seven-bio,
.nine-bio {
  color: #1e1e1e;
  font-family: Work Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 151;
}
.div-tdesign-arrow-right-6a {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 33.858px;
  left: 232.448px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 152;
  overflow: hidden;
}

.services__container > div:nth-child(1) {
  background-color: #1e1e1e;
}
.detail {
  padding-left: 1.5rem;
  padding-block: 1.3rem;
}
.detail h4 {
  font-size: 1rem;
}
.detail p {
  font-family: "Work sans", "sans-serif";
  font-size: 0.8rem;
}
.detail-1 h4 {
  color: #fff;
}
.detail-1 p {
  color: #ffffff;
}

.services__container > div:nth-child(2) {
  background-color: #fff;
}

.detail-2 h4 {
  color: #202124;
}
.detail-2 p {
  color: #5f6368;
}

.services__container .img-container {
  overflow: hidden;
}
.services__container .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
}
.services__container .img-container:hover img {
  transform: scale(1.2);
}
/* Section 12 ends here */

/* Section 13 styling starts here */
.students__container {
  padding-block: 4rem;
  background-color: #1e1e1e;
  border-radius: 24px;
  color: white;
}

.students__container h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.text p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: -0.69px;
  left: 0px;
  color: #444746;
  font-family: Work Sans, var(--default-font-family);
  font-size: 18.303638458251953px;
  font-weight: 400;
  line-height: 27.672px;
  text-align: left;
  white-space: nowrap;
  z-index: 155;
}
.div-tdesign-arrow-right-6c {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 33.858px;
  left: 231.896px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 156;
  overflow: hidden;
}
.button-link-6d {
  position: relative;
  width: 290.552px;
  height: 92.239px;
  cursor: pointer;
  background: #ffe0e0;
  border: none;
  z-index: 157;
  border-radius: 18.448px;
}
.div-qac-6e {
  position: absolute;
  width: 198.313px;
  height: 27.672px;
  top: 50%;
  left: 18.448px;
  transform: translate(0, -50%);
  z-index: 158;
  overflow: hidden;
}
.span-other-merchansie {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 2rem;
  gap: 2rem;
  padding-block: 2rem;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  text-align: center;
}
.column h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.div-tdesign-arrow-right-6f {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 33.858px;
  left: 232.343px;
  background: url(/img/arrow1.png)
    no-repeat center;
  background-size: cover;
  z-index: 160;
  overflow: hidden;
}

@media (max-width: 991px) {
  .heading-top-categories {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}

@media (max-width: 991px) {
  .frame-5e {
    max-width: 100%;
    margin-right: 10px;
    flex-wrap: wrap;
  }
}
  