body {
  font-family: "Inter", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #f8f8f8;
  padding-bottom: 18rem;
}

.bg {
  background-color: rgba(0, 0, 0, 0.13);
}

/* HELPER CLASSES */
.hide {
  display: none;
}
.show {
  display: block;
}

.inter {
  font-family: "Inter", sans-serif;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
}
/* HELPER CLASSES END */

/* NAVBAR */
nav {
  background-color: white;
}
.nav__container {
  padding-block: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav_btns {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-neutral-700);
  font-weight: 500;
}
.nav__links button {
  border-radius: 8px;
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  height: 40px;
  color: var(--clr-white);
  border: none;
  max-width: 200px;
  min-width: 120px;
}
/* NAVBAR END */

/* HERO SECTION BEGINS */
main {
  padding-block: 2rem;
}
.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
}
.socials {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-inline: 1.3rem;
  border-radius: 100vh;
  background-color: white;
  box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
  padding-block: 0.8rem;
  justify-content: center;
}
.socials p,
.social-mobile {
  color: #5f6368;
  font-size: 0.75rem;
}

.socials .desktop {
  display: none;
}
.hero-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.hero-title span {
  background: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 1.1rem; */
}
.hero-desc {
  color: #1e1e1e;
}
.hero-btn {
  border-radius: 7.974px;
  height: 40px;
  color: var(--clr-white);
  background: var(
    --Gradient,
    linear-gradient(
      122deg,
      #f9c8bf 3.72%,
      #f87c61 19.56%,
      #ab26f8 84.21%,
      #d75efc 100.63%
    )
  );
  border: none;
  max-width: 200px;
  min-width: 170px;
  align-self: center;
}
.class-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 2rem;
  background-color: white;
  text-align: center;
  /* box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05); */
}
.class-description h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #202124;
}
/* HERO SECTION ENDING */

/* merchandise categories section starts */
.merchandise-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}
.merchandise-section > h3 {
  font-size: 1.3rem;
}
.categories__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.category-header {
  color: rgba(0, 0, 0, 0.87);
  /* font-family: Inter, var(--default-font-family); */
  font-size: 1.3rem;
  font-weight: 600;
}

.categories__container div {
  /* background-color: green; */
  padding-inline: 1rem;
  padding-block: 1.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__container div p {
  color: #444746;
  font-family: "Work Sans", sans-serif;
}
/* COLOURS */
.light-blue {
  background-color: #d3e3fd;
}
.light-grey {
  background-color: #e3e3e3;
}
.sky-blue {
  background-color: #c2e7ff;
}
.light-green {
  background-color: #c4eed0;
}
.light-purple {
  background-color: #d5d1ff;
}
.light-pink {
  background-color: #fde3ff;
}
.light-yellow {
  background-color: #eeffbe;
}
.pink {
  background-color: #ffe1e1;
}
/* COLOURS */

/* SECTION 7, 8 & 9 STYLING STARTS HERE */
.section7,
.section8,
.section9 {
  display: flex;
  padding-inline: 0.8rem;
  padding-block: 2.5rem;
  align-items: center;
  border-radius: 20px;
  background: #edefff;
  margin: 0 auto;
  gap: 1.4rem;
  /* display: none; */
  flex-direction: column;
}
.section7 {
  background-color: #fef7e0;
}
.eight-ii img,
.seven-ii img,
.nine-ii img {
  width: 100%;
}
.seven-i,
.eight-ii,
.nine-ii {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.eight-head,
.seven-head,
.nine-head {
  color: #202124;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
  /* margin-bottom: 40px; */
}
.eight-bio,
.seven-bio,
.nine-bio {
  color: #1e1e1e;
  font-family: Work Sans;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
}
.eight-btn,
.seven-btn,
.nine-btn {
  padding: 10px 18px;
  border-radius: 8px;
  background: #202020;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 600;
}

/* SECTION 8 STYLING ENDS HERE... */

/* Section 12 styling starts here */
.services__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(15.875rem, 1fr));
}
.services__container > div {
  border-radius: 1rem;
  /* max-width: 590px; */
  overflow: hidden;
}

.services__container > div:nth-child(1) {
  background-color: #1e1e1e;
}
.detail {
  padding-left: 1.5rem;
  padding-block: 1.3rem;
}
.detail h4 {
  font-size: 1rem;
}
.detail p {
  font-family: "Work sans", "sans-serif";
  font-size: 0.8rem;
}
.detail-1 h4 {
  color: #fff;
}
.detail-1 p {
  color: #ffffff;
}

.services__container > div:nth-child(2) {
  background-color: #fff;
}

.detail-2 h4 {
  color: #202124;
}
.detail-2 p {
  color: #5f6368;
}

.services__container .img-container {
  overflow: hidden;
}
.services__container .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
}
.services__container .img-container:hover img {
  transform: scale(1.2);
}
/* Section 12 ends here */

/* Section 13 styling starts here */
.students__container {
  padding-block: 4rem;
  background-color: #1e1e1e;
  border-radius: 24px;
  color: white;
}

.students__container h4 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.text p {
  font-family: "Work Sans", sans-serif;
  font-size: 0.9rem;
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}

.text > div > p:first-child {
  margin-bottom: 1rem;
}
/* Section 13 styling ends here */

section {
  margin-bottom: 4rem;
}

/* SECTION 9 STYLING */
.bg-pink {
  background-color: #f6ecff;
}
