@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 50%;
  }

  .hero-text {
    margin-bottom: 6.4rem;
  }
}

@media (max-width: 48em) {
  .social-logo {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 34em) {
  .container {
    padding: 0 2.4rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .hero-text-box {
    text-align: center;
  }

  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 50%;
  }
}
