* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.hero-section {
  background-color: #f8f8f8;
}

.container {
  max-width: 130rem;
  padding: 0 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.sub-heading {
  color: #555;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 1.2rem;
  padding: 0.6rem;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.social-logo {
  width: 1.6rem;
  height: 1.6rem;
  color: #9b29d5;
}
.primary-heading {
  color: #333;
  font-size: 4.2rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 1;
}

.heading-color {
  background: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-text-box {
  padding: 3.2rem;
}

.hero-text {
  color: #555;
  font-size: 1.4rem;
  margin-bottom: 7.6rem;
}

.btn:link,
.btn:visited {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(
    94deg,
    #f9ac9b 5.97%,
    #e66885 24.14%,
    #b735f9 43.81%
  );
  border-radius: 9px;
}

.hero-img {
  width: 100%;
}
